<%= render layout: "shared/my_store" do %>
  <%= render "shared/notification" %>

  <div class="transition-all border border-gray-200 rounded-md bg-white p-4 mt-12">
    <div class="flex flex-col gap-1 w-full mb-4">
      <div class="flex items-center">
        <h1 class="text-lg pb-0.5 leading-6 font-medium text-gray-900 mr-2 flex items-center">Allow your customers to buy you a coffee</h1>
      </div>
    </div>

    <%= form_for(@coffee_widget, url: "/coffee_widget", html: { method: :put, class: "space-y-4 w-1/2" }) do |form| %>
      <%= render "shared/error_messages", resource: @coffee_widget %>

      <div class="pt-2">
        <%= render "shared/toggle_switch", form: form, attribute: :active, label: 'Enable Coffee Widget' %>
      </div>

      <div>
        <%= form.label :price, 'Price per Coffee', class: "flex items-center gap-1 text-sm font-medium text-gray-700" %>
        <%= form.number_field :price, class: "appearance-none block w-full px-3 py-2 h-5 mt-1 border rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-gray-500 focus:border-gray-500 text-sm h-full border-gray-300 opacity-100" %>
      </div>

      <div class="pt-8">
        <%= form.submit "Update", class: "text-sm duration-200 border font-medium focus:outline-none focus:ring-2 inline-flex items-center whitespace-nowrap bg-gray-800 hover:bg-gray-900 text-white justify-center rounded-md shadow-sm border-transparent py-2 px-4" %>
      </div>
    <% end %>
  </div>

  <div class="transition-all border border-gray-200 rounded-md bg-white p-4 mt-4">
    <div class="flex flex-col gap-1 w-full mb-8">
      <div class="items-center">
        <h1 class="text-lg pb-0.5 leading-6 font-medium text-gray-900 mr-2 flex items-center">Support Received</h1>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">Breakdown of Contributions</p>
      </div>
    </div>

    <div class="w-1/2 flex justify-between text-sm py-4 border-y border-gray-200">
      <div class="pl-2">
        <div class="text-gray-900 font-medium">
          Contributions Count
        </div>

        <div class="text-gray-500 pt-4">
          <%= @decorated_coffee.contributions_count %>
        </div>
      </div>

      <div class="pr-2">
        <div class="text-gray-900 font-medium">
          Total Contributions Amount
        </div>

        <div class="text-gray-500 pt-4">
          <%= @decorated_coffee.total_contributions_amount %>
        </div>
      </div>
    </div>

    <div class="flex flex-col gap-1 w-full mt-16">
      <div class="flex items-center">
        <h1 class="text-base pb-0.5 leading-6 font-medium text-gray-900 mr-2 flex items-center">Recent Contributions</h1>
      </div>
    </div>

    <div class="w-1/2 mt-4">
      <% @decorated_coffee.contributions.each do |contribution| %>
        <div class="text-sm pb-2 text-gray-700">
          <div class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8">
              <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clip-rule="evenodd" />
            </svg>

            <span class="font-semibold">
              <%= contribution[:contributor_name] %>
            </span>

            <span> bought you </span>

            <span>
              <%= contribution[:quantity] %>
            </span>

            <span>
              for <%= contribution[:price_per_coffee] %> each
            </span>
          </div>

          <% if contribution[:comment].present? %>
            <div class="border rounded-md shadow p-4 my-2 ml-8">
              <%= contribution[:comment] %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
