<div class="flex flex-col text-left space-y-2">
  <div class="flex flex-col text-left space-y-1">
    <h4 class="text-2xl text-gray-900 font-bold">Trouble Logging In?</h4>
    <p class="text-2xl text-gray-900 font-medium tracking-wider">Enter your email to reset your password 📧
    </p>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: "flex flex-col space-y-4 w-full" }) do |f| %>
  <div>
    <div class="w-full">
      <%= f.label :email, "Email *", class: "flex items-center gap-1 text-sm font-medium text-gray-700" %>
      <div class="mt-1">
        <%= f.email_field :email, required: true, autocomplete: "email", placeholder: "name@email.com", class: "appearance-none block w-full px-3 py-2 border hover:border-gray-500 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-transparent focus:border-gray-900 text-sm h-10 border-gray-300 opacity-100" %>
      </div>
    </div>
  </div>

  <div class="pt-6 w-full">
    <%= f.submit "Send me reset password instructions", class: "text-sm duration-200 border font-medium focus:outline-none focus:ring-2 inline-flex items-center whitespace-nowrap bg-gray-800 hover:bg-gray-900 text-white justify-center rounded-md shadow-sm border-transparent p-4 w-full" %>
  </div>
<% end %>

<div class="flex flex-col text-left space-y-2">
  <span class="text-sm text-gray-900 font-normal">
    Get back to
    <%= link_to "Log In", new_session_path(resource_name), class: "text-gray-500 font-medium underline" %>
  </span>
</div>