<%= render layout: "generic_products/edit_layout" do %>
  <div class="transition-all border border-gray-200 rounded-md bg-white p-4 mb-4">
    <div class="flex flex-col gap-1 w-full mb-4">
      <div class="flex items-center">
        <h1 class="text-lg pb-0.5 leading-6 font-medium text-gray-900 mr-2 flex items-center">List of Attachments</h1>
      </div>
    </div>

    <% if @product.attachments.present? %>
      <% @attachment_decorator.attachments.each do |attachment| %>
        <div class="w-1/2">
          <%= render "card", attachment: attachment, show_delete_link: true %>
        </div>
      <% end %>
    <% else %>
      <div class="w-1/2">
        <%= render "shared/announcement", message: "You have not added any attachments for this product yet. Please add relevant attachments to ensure your customers have all the necessary information about the product." %>
      </div>
    <% end %>
  </div>

  <div class="transition-all border border-gray-200 rounded-md bg-white p-4">
    <div class="flex flex-col gap-1 w-full mb-4">
      <div class="flex items-center">
        <h1 class="text-lg pb-0.5 leading-6 font-medium text-gray-900 mr-2 flex items-center">Add Attachment</h1>
      </div>
    </div>

    <%= form_with(model: @product.attachments.new, url: generic_product_attachments_path(@product), class: "space-y-4 w-1/2") do |form| %>
      <div>
        <%= form.label :name, class: "flex items-center gap-1 text-sm font-medium text-gray-700" %>
        <%= form.text_field :name, required: true, class: "appearance-none block w-full px-3 py-2 h-5 mt-1 border rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-gray-500 focus:border-gray-500 text-sm h-full border-gray-300 opacity-100" %>
      </div>

      <div>
        <%= form.label :file, class: "flex items-center gap-1 text-sm font-medium text-gray-700" %>
        <%= form.file_field :file, required: true, class: "appearance-none block w-full px-3 py-2 h-5 mt-1 border rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-gray-500 focus:border-gray-500 text-sm h-full border-gray-300 opacity-100" %>
      </div>

      <div class="pt-8">
        <%= form.submit "Add Attachment", class: "text-sm duration-200 border font-medium focus:outline-none focus:ring-2 inline-flex items-center whitespace-nowrap bg-gray-800 hover:bg-gray-900 text-white justify-center rounded-md shadow-sm border-transparent py-2 px-4", data: {turbo_frame: '_top'} %>
      </div>
    <% end %>
  </div>
<% end %>
