<%= form_with(model: product, class: "space-y-4") do |form| %>
  <% if product.errors.any? %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Oops!</strong>
      <span class="block sm:inline"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</span>
      <ul class="list-disc list-inside">
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <%= form.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_area :description, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", rows: 5 %>
  </div>

  <div class="flex flex-col">
    <%= form.label :price, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.number_field :price, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex flex-col">
    <%= form.label :image, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :image, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="flex justify-end">
    <%= form.submit "Save", class: "px-6 py-2 rounded bg-blue-600 text-white hover:bg-blue-700 focus:outline-none cursor-pointer" %>
  </div>
<% end %>