<div class="flex justify-between items-center mb-4 ">
  <div class="relative">
    <%= form_with method: :get, local: true, class: "flex" do |form| %>
      <%= form.text_field :query, value: params[:query], class: 'rounded-l-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent', placeholder: 'Search products...' %>
      <%= form.submit 'Search', class: 'text-sm bg-purple-600 hover:bg-purple-700 text-white py-2 px-4 rounded-r-lg' %>
    <% end %>
  </div>

  <div class="flex items-center">
    <svg class="fill-current text-gray-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10,2a1,1,0,0,0-1,1V3H4A1,1,0,0,0,3,4V6H21V4a1,1,0,0,0-1-1H15V3a1,1,0,0,0-1-1ZM19,7H5V18a3,3,0,0,0,3,3H16a3,3,0,0,0,3-3V7ZM12,9a1,1,0,1,1-1,1A1,1,0,0,1,12,9Z"/>
    </svg>
    <span class="text-gray-700 text-sm ml-2">(3)</span>
  </div>
</div>

<% img = "https://images.unsplash.com/photo-1674296115670-8f0e92b1fddb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" %>

<div class="flex flex-wrap -m-2">
  <% @products.each do |product| %>
    <div class="p-2 w-full sm:w-1/2 lg:w-1/4">
      <%= link_to product_path(product) do %>
        <div class="transform transition duration-500 ease-in-out p-4 bg-white rounded-lg shadow hover:shadow-md hover:scale-105 hover:border-gray-300 border-2 border-transparent">
          <% if product.image.attached? %>
            <%= image_tag product.image, class: "h-40 w-full rounded-t-lg object-cover object-center", alt: product.name %>
          <% else %>
            <img class="h-40 w-full rounded-t-lg object-cover object-center" src="<%= img %>" alt="<%= product.name %>" />
          <% end %>

          <div class="p-4">
            <h3 class="mb-1 text-lg font-semibold tracking-tight text-gray-800"><%= product.name %></h3>
            <p class="mb-3 text-sm font-normal text-gray-700"><%= product.description %></p>
            <div class="flex items-center justify-between">
              <div>
                <span class="text-lg font-bold text-gray-900">$<%= product.price %></span>
                <span class="text-xs font-medium text-gray-500 line-through">$<%= product.price + 20 %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
