<div class="flex justify-between items-center mb-4"> <!-- Container for the search bar and cart icon -->
  <div class="relative">
    <input type="text" class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" placeholder="Search products...">
    <button type="submit" class="absolute right-0 top-0 mt-2 mr-4">
      <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M10,20A10,10,0,1,0,3.22,16.78l4.62,4.62a1,1,0,1,0,1.41-1.41L4.63,15.37A8,8,0,1,1,10,18a7.93,7.93,0,0,1-1.67-.19A9.93,9.93,0,0,0,10,20Z" />
      </svg>
    </button>
  </div>

  <div class="flex items-center">
    <svg class="fill-current text-gray-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M10,2a1,1,0,0,0-1,1V3H4A1,1,0,0,0,3,4V6H21V4a1,1,0,0,0-1-1H15V3a1,1,0,0,0-1-1ZM19,7H5V18a3,3,0,0,0,3,3H16a3,3,0,0,0,3-3V7ZM12,9a1,1,0,1,1-1,1A1,1,0,0,1,12,9Z"/>
    </svg>
    <span class="text-gray-700 text-sm ml-2">(3)</span>
  </div>
</div>

<% img = "https://images.unsplash.com/photo-1674296115670-8f0e92b1fddb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" %>

<div class="flex flex-wrap -m-2">
  <% @products.each do |product| %>
    <div class="p-2 w-full sm:w-1/2 lg:w-1/4">
      <%= link_to product_path(product) do %>
        <div class="transform transition duration-500 ease-in-out p-4 bg-white rounded-lg shadow hover:shadow-md hover:scale-105 hover:border-gray-300 border-2 border-transparent">
          <% if product.image.attached? %>
            <%= image_tag product.image, class: "h-40 w-full rounded-t-lg object-cover object-center", alt: product.name %>
          <% else %>
            <img class="h-40 w-full rounded-t-lg object-cover object-center" src="<%= img %>" alt="<%= product.name %>" />
          <% end %>

          <div class="p-4">
            <h3 class="mb-1 text-lg font-semibold tracking-tight text-gray-800"><%= product.name %></h3>
            <p class="mb-3 text-sm font-normal text-gray-700"><%= product.description %></p>
            <div class="flex items-center justify-between">
              <div>
                <span class="text-lg font-bold text-gray-900">$<%= product.price %></span>
                <span class="text-xs font-medium text-gray-500 line-through">$<%= product.price + 20 %></span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
