<!DOCTYPE html>
<html>
  <head>
    <title>Creatrsouk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div id="notification">
      <%= render "shared/notification" %>
    </div>

    <div class="flex flex-row min-h-screen bg-gray-100">
      <%= render 'shared/sidebar' %>

      <div class="flex-1 px-10 py-8 ml-56">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
