<%= render layout: "shared/settings" do %>
  <% if @account.present? %>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg mt-4">
      <div class="px-4 py-5 sm:px-6 flex justify-between">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">Payment account information</h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">Stripe Account</p>
        </div>
        <div class="flex items-center">
          <%= link_to 'Stripe Dashboard', 'https://dashboard.stripe.com/login', class: 'bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded' %>
        </div>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
        <dl class="sm:divide-y sm:divide-gray-200">
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Account ID</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.account.stripe_id %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Onboarding Complete?</dt>
            <% if current_user.account.details_submitted? %>
              <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.account.details_submitted? %></dd>
            <% else %>
              <%= render "onboarding_button", title: 'Finish Stripe Onboarding' %>
            <% end %>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Charges enabled?</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.account.charges_enabled? %></dd>
          </div>
          <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Payouts enabled?</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2"><%= current_user.account.payouts_enabled? %></dd>
          </div>
        </dl>
      </div>
    </div>
  <% else %>
    <div class="m-4 mt-6">
      <%= render "onboarding_button", title: 'Connect with Stripe' %>
    </div>
  <% end %>
<% end %>
